APP_NAME="WhatsApp Business Platform"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Europe/Istanbul
APP_URL=http://localhost:8080

APP_LOCALE=tr
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=whbuspro
DB_USERNAME=whbuspro_user
DB_PASSWORD=secretpassword

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=database
CACHE_PREFIX=

QUEUE_CONNECTION=redis

REDIS_CLIENT=predis
REDIS_HOST=cache
REDIS_PASSWORD=null
REDIS_PORT=6379

# Meta WhatsApp Business Platform Configurations
WHATSAPP_API_URL=https://graph.facebook.com
WHATSAPP_API_VERSION=v20.0
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_TOKEN=
WHATSAPP_APP_SECRET=
WHATSAPP_VERIFY_TOKEN=
