/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
homework.txt
/database/*.sqlite
/database/*.sqlite-journal
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
whbuspro.zip
.DS_Store
.idea
.vscode
