<IfModule mod_rewrite.c>
    RewriteEngine On

    # Authorization header'ını Sanctum için PHP'ye aktar
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Tüm gelen istekleri public/ klasörüne yönlendir
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
